@model LoginPopup.Models.LoginModel

@{
    ViewData["Title"] = "Register User";
}

<!-- Login Modal Structure -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="loginModalLabel">Login</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form asp-action="LoginUser" method="post" id="login-form">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group mb-3">
                        <label asp-for="EmailAddress"></label>
                        <input asp-for="EmailAddress" class="form-control" placeholder="Email Address" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

                <!-- Link to Switch to Create Account Modal -->
                <div class="text-center mt-3">
                    <a href="#" onclick="switchToCreateAccountModal()">Did you forget your password?</a>
                </div>
                <div class="text-center mt-3">
                    <a href="#" onclick="switchToCreateAccountModal()">New to RRReddit? Create an account</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Account Modal Structure -->
<div class="modal fade" id="createAccountModal" tabindex="-1" aria-labelledby="createAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="createAccountModalLabel">Create Account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form asp-action="Create" method="post" id="create-form">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group mb-3">
                        <label asp-for="EmailAddress"></label>
                        <input asp-for="EmailAddress" class="form-control" placeholder="Email Address" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>

                <!-- Link to Switch to Login Modal -->
                <div class="text-center mt-3">
                    <a href="#" onclick="switchToLoginModal()">Already have an account? Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function switchToCreateAccountModal() {
        // Hide the login modal, then after a short delay, show the create account modal
        $('#loginModal').modal('hide');
        setTimeout(function () {
            $('#createAccountModal').modal('show');
        }, 300); // Delay of 300 milliseconds to allow the first modal to fully hide
    }

    function switchToLoginModal() {
        // Hide the create account modal, then after a short delay, show the login modal
        $('#createAccountModal').modal('hide');
        setTimeout(function () {
            $('#loginModal').modal('show');
        }, 300); // Delay of 300 milliseconds to allow the first modal to fully hide
    }

    function resetModals() {
        $('.modal').modal('hide');
        $('.modal-backdrop').remove(); // Remove leftover backdrops if any
        $('body').removeClass('modal-open'); // Remove modal-open class from the body
    }

    // Make sure to call `resetModals` on document ready to clean up any old state
    $(document).ready(function () {
        resetModals();
    });
</script>



@section Scripts {
    <!-- Include validation scripts -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- Include Bootstrap JavaScript (important for modal functioning) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
}
