<<<<<<< HEAD:Views/Home/Button.cshtml
﻿
@{

    ViewData["Title"] = "Home Page";
}


<!-- Vote buttons structure-->
<div class="vote-buttons">
=======
﻿@{

    ViewData["Title"] = "Home Page";
}
<style>.main-content{
    margin-left: 300px;
 </style>

<!-- Vote buttons structure-->
<div class="vote-buttons main-content">
>>>>>>> fe2990801b6bd4b939ff25d4b88790de01f14596:LoginPopup/Views/Home/Button.cshtml
    <!-- Upvote -->
    <button class="upvote" onclick="upvotePost()" data-vote="up">
        <div class="lottie-animation" id="upvote-animation"></div>
    </button>

    <span id="vote-count">0</span>

    <!-- Downvote -->
    <button class="downvote" onclick="downvotePost()" data-vote="down">
        <div class="lottie-animation" id="downvote-animation"></div>
    </button>
</div>
<<<<<<< HEAD:Views/Home/Button.cshtml

=======
>>>>>>> fe2990801b6bd4b939ff25d4b88790de01f14596:LoginPopup/Views/Home/Button.cshtml
