
@{

    ViewData["Title"] = "Home Page";
}


<!-- Vote buttons structure-->
<div class="vote-buttons">
    <!-- Upvote -->
    <button class="upvote" onclick="upvotePost()" data-vote="up">
        <div class="lottie-animation" id="upvote-animation"></div>
    </button>

    <span id="vote-count">0</span>

    <!-- Downvote -->
    <button class="downvote" onclick="downvotePost()" data-vote="down">
        <div class="lottie-animation" id="downvote-animation"></div>
    </button>
</div>

