html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.vote-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.upvote, .downvote {
    background-color: transparent;
    border: none;
    font-size: 24px; /* Adjust font size */
    padding: 10px; /* Adjust padding for size */
    width: 60px; /* Fixed width */
    height: 60px; /* Fixed height */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border-radius: 10px;
    transition-duration: 0.4s; /* Smooth transition */
}

    /* Optional: Add hover effects */
    .upvote:hover {
        border: 2px solid white; /* Square border color */
        background-color: ghostwhite; /* Optional: Add a subtle green background on hover */
    }

    .downvote:hover {
        border: 2px solid white; /* Square border color */
        background-color: ghostwhite; /* Optional: Add a subtle red background on hover  
    }

 .comment-form {
            margin-top: 20px;
            display: none; /* Initially hidden */
    }

.comment-list {
    margin-top: 10px;
    padding-left: 20px;
}

.comment-icon {
    cursor: pointer;
    color: #0079d3;
    border-radius: 5px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
}

    .comment-icon:hover {
        background-color: rgba(0, 121, 211, 0.1);
    }


.comment-box {
    border: 1px solid #ccc; /* Border around the box */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Space inside the box */
    margin: 5px 0; /* Space between comments */
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
